<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.warehouse.information.management.web.admin.dao.TbCargoDao">
    <sql id="tbCargoColumns">
        c.id,
        c.name,
        c.number,
        c.inventory,
        c.parent_id,
        c.is_parent,
        c.sort_order,
        c.created,
        c.updated,
        c.entry_quantity,
        c.entry_time,
        c.delivery_quantity,
        c.delivery_time
    </sql>

    <select id="selectAll" resultType="TbCargo">
        SELECT
            <include refid="tbCargoColumns"/>
        FROM
            tb_cargo AS c
        ORDER BY
            parent_id ASC,
            sort_order ASC
    </select>

    <select id="getById" resultType="TbCargo">
        SELECT
        <include refid="tbCargoColumns"/>
        FROM
        tb_cargo AS c
        WHERE
        c.id = #{id}
    </select>

    <insert id="insert">
        INSERT INTO tb_cargo(
            id,
            name,
            number,
            inventory,
            parent_id,
            is_parent,
            sort_order,
            created,
            updated,
            entry_quantity,
            entry_time,
            delivery_quantity,
            delivery_time
        )
        VALUES (
            #{id},
            #{name},
            #{number},
            #{inventory},
            #{parentId},
            #{isParent},
            #{sortOrder},
            #{created},
            #{updated},
            #{entryQuantity},
            #{entryTime},
            #{deliveryQuantity},
            #{deliveryTime}
        )

    </insert>

    <update id="update">
        UPDATE
            tb_cargo
        SET
            name = #{name},
            number = #{number},
            inventory = #{inventory},
            parent_id = #{parentId},
            is_parent = #{isParent},
            sort_order = #{sortOrder},
            created = #{created},
            updated = #{updated},
            entry_quantity = #{entryQuantity},
            entry_time = #{entryTime},
            delivery_quantity = #{deliveryQuantity},
            delivery_time = #{deliveryTime}
        WHERE
            id = #{id}
    </update>

    <select id="countName" resultType="integer">
        SELECT
            COUNT(*)
        FROM
            tb_cargo AS c
        WHERE
            c.name = #{name}
            <if test="id != null and id !=''">
            AND c.id &lt;&gt; #{id}
            </if>
    </select>

    <select id="countNumber" resultType="integer">
        SELECT
            COUNT(*)
        FROM
            tb_cargo AS c
        WHERE
            c.number = #{number}
            <if test="id != null and id !=''">
            AND c.id &lt;&gt; #{id}
            </if>
    </select>

    <select id="page" resultType="TbCargo" parameterType="map">
        SELECT
            <include refid="tbCargoColumns"/>
        FROM
            tb_cargo AS c
        <where>
            <if test="tbCargo.name != null and tbCargo.name !=''">
                AND c.name LIKE CONCAT ('%',#{tbCargo.name},'%')
            </if>
            <if test="tbCargo.number != null and tbCargo.number !=''">
                AND c.number LIKE CONCAT ('%',#{tbCargo.number},'%')
            </if>
            <if test="tbCargo.parentId != null and tbCargo.parentId !=''">
                AND c.parent_id LIKE CONCAT ('%',#{tbCargo.parentId},'%')
            </if>
        </where>
        ORDER BY
            parent_id ASC
        LIMIT #{start},#{length}
    </select>

    <select id="count" resultType="integer">
        SELECT COUNT(*)
        FROM
            tb_cargo as c
        <where>
            <if test="name != null and name !=''">
                AND c.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="number != null and number !=''">
                AND c.number LIKE CONCAT('%',#{number},'%')
            </if>
            <if test="parentId != null and parentId !=''">
                AND c.parent_id LIKE CONCAT('%',#{parentId},'%')
            </if>
        </where>
    </select>

    <delete id="deleteMulti">
        DELETE
        FROM
            tb_cargo
        WHERE
            id
        IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="getNameByNumber" resultType="string">
        SELECT
            c.name
        FROM
            tb_cargo AS c
        WHERE
            c.number = #{number}
    </select>

    <select id="getInventoryByNumber" resultType="double">
        SELECT
            c.inventory
        FROM
            tb_cargo AS c
        WHERE
            c.number = #{number}
    </select>

    <update id="updateEntryByName">
        UPDATE
            tb_cargo
        SET
            inventory = #{tbCargo.inventory},
            updated = #{tbCargo.updated},
            entry_quantity = #{tbCargo.entryQuantity},
            entry_time = #{tbCargo.entryTime}
        WHERE
            name = #{name}
    </update>

    <update id="updateDeliveryByName">
        UPDATE
            tb_cargo
        SET
            inventory = #{tbCargo.inventory},
            updated = #{tbCargo.updated},
            delivery_quantity = #{tbCargo.deliveryQuantity},
            delivery_time = #{tbCargo.deliveryTime}
        WHERE
            name = #{name}
    </update>

    <select id="sumInventory" resultType="double">
        SELECT
            SUM(inventory)
        FROM
            tb_cargo
        WHERE
            parent_id = #{parentId}
    </select>

    <select id="countByParentId" resultType="integer">
        SELECT
        COUNT(*)
        FROM
        tb_cargo
        WHERE
        parent_id = #{parentId}
    </select>

    <delete id="deleteByParentId">
        DELETE
        FROM
        tb_cargo
        WHERE
        parent_id = #{parentId}
    </delete>
</mapper>