<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.warehouse.information.management.web.admin.dao.TbWarehouseDao">
    <sql id="tbWarehouseColumns">
--         w.id,
        w.name,
        w.number,
        w.inventory,
        w.parent_id,
        w.is_parent,
        w.sort_order,
        w.created,
        w.updated
    </sql>
    <sql id="tbCargoColumns">
--         c.id,
        c.name,
        c.number,
        c.inventory,
        c.parent_id,
        c.is_parent,
        c.sort_order,
        c.created,
        c.updated
    </sql>
    
    <select id="selectAll" resultMap="selectAllMap">
        SELECT
            <include refid="tbWarehouseColumns"/>
        FROM
            tb_warehouse AS w
        UNION
        SELECT
            <include refid="tbCargoColumns"/>
        FROM
            tb_cargo AS c
    </select>
    <resultMap id="selectAllMap" type="TbWarehouse">
<!--        <id property="id" column="id"/>-->
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="inventory" column="inventory"/>
        <result property="isParent" column="is_parent"/>
        <result property="parentId" column="parent_id"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <association property="tbCargo" javaType="TbCargo">
<!--            <id property="id" column="id"/>-->
            <result property="name" column="name"/>
            <result property="number" column="number"/>
            <result property="inventory" column="inventory"/>
            <result property="isParent" column="is_parent"/>
            <result property="parentId" column="parent_id"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="created" column="created"/>
            <result property="updated" column="updated"/>
        </association>
    </resultMap>
</mapper>