<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.warehouse.information.management.web.admin.dao.TbWarehouseDao">
    <sql id="tbWarehouseColumns">
        w.name,
        w.number,
        w.inventory,
        w.parent_id,
        w.is_parent,
        w.sort_order,
        w.created,
        w.updated
    </sql>

    <sql id="tbCargoColumns">
        c.name,
        c.number,
        c.inventory,
        c.parent_id,
        c.is_parent,
        c.sort_order,
        c.created,
        c.updated
    </sql>

    <sql id="tbColumns">
        name,
        number,
        inventory,
        parent_id,
        is_parent,
        sort_order,
        created,
        updated
    </sql>
    
    <select id="selectAll" resultMap="selectAllMap">
        SELECT
            <include refid="tbWarehouseColumns"/>
        FROM
            (SELECT
                <include refid="tbColumns"/>
             FROM
                 tb_warehouse
             ORDER BY
                parent_id ASC,
                is_parent ASC,
                sort_order ASC
            ) As w
        UNION
        SELECT
            <include refid="tbCargoColumns"/>
        FROM
            (SELECT
                <include refid="tbColumns"/>
            FROM
                tb_cargo
            ORDER BY
                parent_id ASC,
                is_parent ASC,
                sort_order ASC) As c
    </select>
    <resultMap id="selectAllMap" type="TbWarehouse">
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="inventory" column="inventory"/>
        <result property="isParent" column="is_parent"/>
        <result property="parentId" column="parent_id"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
        <association property="tbCargo" javaType="TbCargo">
            <result property="name" column="name"/>
            <result property="number" column="number"/>
            <result property="inventory" column="inventory"/>
            <result property="isParent" column="is_parent"/>
            <result property="parentId" column="parent_id"/>
            <result property="sortOrder" column="sort_order"/>
            <result property="created" column="created"/>
            <result property="updated" column="updated"/>
        </association>
    </resultMap>
</mapper>